@import url("https://fonts.googleapis.com/css?family=Poppins");

/* BASIC */
.titulo-listado {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  width: max-content;
  display: block;
  margin: 0 auto;
  background-color: rgba(110, 11, 156, 0.87);
  padding: 5px 15px;
  margin-bottom: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 8px rgb(192, 28, 233);
}


.listado-container {
  font-family: "Poppins", sans-serif;
  background-image: url("https://i.pinimg.com/originals/08/00/a7/0800a7ee0d4d8b11a7ed297dd64fb488.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 94vh;
  padding-top: 4rem;
}

.contenedor-tabla {
  width: 70vw;
  padding-top: 1rem;
  padding-bottom: 0.1rem;
  /* background-color: rgba(0, 0, 0, 0.7); */
  background-color: rgba(33, 0, 51, 0.7);
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 16px rgb(8, 123, 161);
}

.tr:hover {
  background: rgba(105, 3, 97, 0.7);
  color: rgb(10, 210, 53);
}



@media screen and (max-width: 480px){
  .listado-container {
    font-size: 12px;
  }
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.preguntas{
  display: flex;
  justify-content:space-evenly;
  /* align-items: center; */
}

.contenedor-form {
  width: 80vw;
  padding-top: 1rem;
  padding-bottom: 0.1rem;
  background-color: rgba(33, 0, 51, 0.7);
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 16px rgb(8, 123, 161);
}

.btn-juegos {
  padding: 1.3em 3em;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #ffffff;
  background-color: #000000;
  padding: 10px 22px;
  border: rgb(4, 215, 81) 5px solid;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 5px 5px rgb(185, 3, 161);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.btn-juegos:hover {
  background-color: rgba(131, 3, 87, 0.87);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  transform: translateY(-7px);
}

.btn-juegos:active {
  transform: translateY(-1px);
}

.fondoParaTextos{
  width: max-content;
  display: block;
  margin: 0 auto;
  background-color: rgba(72, 236, 51, 0.87);
  box-shadow: 0px 5px 5px rgb(185, 3, 161);
  padding: 5px 15px;
  /* margin-top: 0.1rem; */
  border-radius: 20px;
}
